<li>
  <button class="secondary"
    data-ng-class="{ 'selected': $ctrl.buttonBarCtrl.chosen[$ctrl.value] }"
    data-ng-click="$ctrl.buttonBarCtrl.toggle($ctrl.value)"
  >
    <ng-transclude></ng-transclude>
    <span class="toggle-check icon-check-light"></span>
  </button>
</li>
