<ul class="button-group even-4">
  <li data-ng-repeat="item in $ctrl.choices">
    <button class="secondary" data-ng-class="{'selected': item.model}" data-ng-model="item.model" data-ng-click="$ctrl.toggle(item)">
      {{item.label}}<span class="toggle-check icon-check-light"></span>
    </button>
  </li>
</ul>
